h1{
  color: red;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  /* converts all the letters into alphabets */
  font-style: italic;
}

h2{
  font-size: 40px;
  font-family: sans-serif;
}

p{
  font-size: 22px;
  line-height: 1.5;
  font-family: sans-serif;
}

h3{
  font-size: 30px;
  font-family: sans-serif;
}

h4{

  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;

}

li{
  /* here we style the li ie list items not the parent elements like ul or ol  */
  font-family: sans-serif;
  /* by default the font-size is 16px as per the browser default settings */
  font-size:20px ;
  
}