h1{
  color: red;
  font-size: 26px;
  
  text-transform: uppercase;
  /* converts all the letters into alphabets */
  font-style: italic;
}
/* we can create a list of css selectors which have the same css properties and values and we can group them together  */
h1,h2,h3,h4,li,p{
  font-family: sans-serif;
  color: #444;
}

h1,h2,h3{
  color: #1098ad;
}

h2{
  font-size: 40px;
  
}

p{
  font-size: 22px;
  line-height: 1.5;
  
}

h3{
  font-size: 30px;
  
}

h4{

  font-size: 20px;
  
  text-transform: uppercase;
  text-align: center;

}

li{
  /* here we style the li ie list items not the parent elements like ul or ol  */
 
  /* by default the font-size is 16px as per the browser default settings */
  font-size:20px ;

}

/* by convention the text in the footer section needs to be smaller than the rest of the text in the website or in the document  */
footer p{
  font-size: 16px;
}
/* this way of writing css selectors is known as descendant selectors as the p elements are the children elements of the footer element  */

/* for testing purpose */

/* article header p{
  font-style: italic;
} */

/* not needed */

/* this is not a good robust approach to  */
/* this is known as nested descendant selectors  */
/* we are now encoding more and more html elements in the css 
it is not a good way to write css as if we may the html it will be a problem  */

#author{
  font-style: italic;
  font-size: 18px;

}

/*  # is used for id selector  */

/* we can also assign the elements via classes  */
/* the main difference between id and classes is that we can repeat classes 
whereas in case of id we cannot - ids are used for unique elements only 
whereas when we need to group elements we use classes  */

#copyright{
  font-size: 16px;
  text-align: center;
  color: #216cdc;
  color: rgb(69, 69, 69);
  /* when there are two definations
  it will simply use the last one   */
}

.related_author{
  font-size: 18px;
  font-weight:bold;
}
/* Now the question may come to our mind that we have defined many css rules
so which one will be applied - the short answer is all the css rules will be applied 

PS we will be learning that in the next video :) */

.related{
  list-style: none;
  
}

/* why we rarely use ids and often use classes 
the reason is that ids can be used for only one element wherease we can use 
classes for many different elements . 
and by doing that we are making our code future proof so that whenever we 
want to add something similar to that we can just use the class attribute and put 
the same name and in this way the same styling will be added  */

.main_header{
  background-color: #e1e1e1;
  /* the grey color is present on the left hand side of the color picker 
  present in the vs code  */

  border-left: 3px solid #1098ad;
  border-right: 3px solid #1098ad;
  border-radius: 5px;
  /* font-weight: bold; */
}

aside{
  /* this is the element selector 
  when we write the html element directly in the css  */

  background-color: #e1e1e1;
  
  border-top : 5px solid #1098ad;
  /* this is known as shorthand property where we can write multiple 
  css properties in one property  */
  border-bottom: 5px solid #1098ad;

  border-radius: 10px;


  border-left: 5px solid #909090;
  
  border-right: 5px solid #909090;

  
}

/* .first_li{
  font-weight: bold;

} */


li:first-child{
  font-weight: bold;
}
/* this above selector is known as pseudo child selector */

/* this above example will only style the first child of the parent element ol  */

li:last-child{
  font-style: italic;
}

li:nth-child(even){
  /* color: red; */
}
/* nth-child() is a pseudo child selector 
and inside the parenthesis we can write even odd or a specific number  */


article p:last-child
{
  color: red;
}
/* as we can see that inside the article element the p element is the last child 
so for which it gets applied otherwise it would not  */

article p:first-child{
  color:red;
}

/* as you can see that inside the article the p is not the first child 
whereas actually the header is the first child  so it wont work */

/*  if we put a p element which is actually the first child of the article then it will work  */

